body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
        padding: 20px 0;
}

.CaixaTOP {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;   
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover { /* Quando o mouse estiver por cima do menu*/
    color: #9300d3;
    text-decoration: underline;
}

#banner {
	width:100%;
}

.principal{
	background: #CCCCCC;
	padding: 10%;
}

.titulo-principal {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.titulo-bene {
	text-align: right;
    font-size: 20px;
    margin-bottom: 20px;
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.beneficios {
	background: #FFFFFF;
	padding: 10%;
    background-image: url(/imagens/beneficios.jpg);
    color: #FFFFFF;
    text-align: right;
}


footer {
    text-align: center;
    background: url('/imagens/bg.jpg');
    padding: 40px 0px;
}

.Copyright {
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
    
}
