body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    background-color: #bbbbbb;
    padding: 20px 0;
}

.CaixaTOP {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;   
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover { /* Quando o mouse estiver por cima do menu*/
    color: #9300d3;
    text-decoration: underline;
}

.Produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.Produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    border: 5px solid #000000;
    border-radius: 30px;
    margin: 0 1%;
    padding: 30px 20px;
    box-sizing: border-box; /* espreme o conteúdo mantendo a largura. */
}

.Produtos li:hover {
    border-color: #9300d3;
    border-radius: 20px;
}

.Produtos li:hover h2 {
    font-size: 28px;
}

.Produtos li:active {
    border-color: #bbbbbb;
}

.Produtos h2 {
    font-size: 25px;
    font-weight: bold;
}

.Produto-Descrição {
    font-size: 15px;
}

.Produto-Preço {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url('/imagens/bg.jpg');
    padding: 40px 0px;
}

.Copyright {
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
    
}